@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
body {
    font-family: "Madimi One", cursive;
    background-color: #f5f5f5;
    overflow: hidden;
}

.title {
    font-size: 40px;
    color: #fe7250;
    width: 100%;
    padding: 0 0 10px 10px;
    border-bottom: 1px solid black;
    margin-bottom: 35px;
}

.container {
    background-image: url(/assets/nature.jpg);
    display: flex;
    margin: 0 auto;
    height: 400px;
    width: 600px;
    background-size: cover;
    border-bottom: 10px solid #362f2f;
    border-right: 10px solid #362f2f;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.pfp {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border-bottom: 10px solid #362f2f;
    border-right: 10px solid #362f2f;
}

.pfp:active {
    transform: translateY(5px);
}

.info {
    height: 150px;
    width: 150px;
    padding: 5px 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #f5f5f5;
    font-weight: bolder;
    font-size: larger;
    color: #2D2D2D;
    text-align: center;
    font-style: italic;
    text-align: justify;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    border-top: 1px solid black;
    padding: 10px 0;
}